{% extends "_base.html" %}
{% load static %}

{% block title %} It's Question Time! let's get silky! {% endblock %}

{% block content %}
<div class="container" >
    {% if user.is_staff %}
        {% if questions %}
            <div id="edit_form">
                <p class="h2 mb-4">Click to edit a question</p>
            {% for q in questions %}
                <div   hx-get='/edit/{{q.pk}}' hx-target='#edit_form' hx-trigger="click" class="py-2">{{q.pk}}. {{ q.question }}
                </div>
            {% endfor %}
            </div>
        {% else %}
            <p class="h2"> There is no questions. <a href="{% url 'add' %}">Create new ones.</a></p>
        {% endif %}
    {% else %}
        {% if questions %}
        <p class="h2 mb-4">Choose which question you'd like to tackle</p>
            {% for q in questions %}
                 <p>{{q.pk}}. <a href="{% url 'answers' q.pk %}">{{ q.question }}</a></p>
            {% endfor %}
        {% else %}
            <p class="h2"> You have answered all available questions. <a href="{% url 'results'%}">See your results.</a></p>
        {% endif %}
    {% endif %}
</div>

{% endblock content %}