{% extends "_base.html" %}
{% load static %}

{% block title %} It's Question Time! let's get silky! {% endblock %}

{% block content %}

<div class="form-check w-75 d-flex flex-column align-items-left px-30">
<!--    {% for q in form %}-->
    <h6>{{q.question}}</h6>
         <div class="form-check row">
          <input class="form-check-input " type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label " for="exampleRadios1">
              {{q.answer_1}}
          </label>
         </div>
        <div class="form-check row">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            {{q.answer_2}}
          </label>
        </div>
        <div class="form-check row">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option1" checked>
          <label class="form-check-label" for="exampleRadios3">
              {{q.answer_3}}
          </label>
        </div>
        <div class="form-check row">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option1" checked>
          <label class="form-check-label" for="exampleRadios4">
              {{q.answer_4}}
          </label>
<!--            {% endfor %}-->
        </div>
    <button class = "btn btn-light row" >submit</button>
<p>comes from foo {{answer}} </p>

{% endblock content %}