

    <form class="form-group w-100" hx-post="/edit/{{q.pk}}" hx-target="this" hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}">
        <div class="col">
            <div class="d-row w-100 p-2">
                <label class="fw-lighter font-weight-light form-check-label " for=q0> Question :</label>
                <input class="w-100 p-2 fw-bolder mb-2 form-control shadow-none overflow=auto" type="text" name='question' id=q0 value='{{q.question}}'/>
            </div>
            {% for answer in answers %}
             <div class="d-flex w-100 gap-1 p-2">
                    <label class="fw-lighter font-weight-light form-check-label" for=q{{forloop.counter}}> answer {{forloop.counter}}:</label>
                    <input type="checkbox" class="w-25 p-2fw-bolder  mb-2 form-control shadow-none" type="text" name='correct_answer' id='correct_answer{{forloop.counter}}' value='{{forloop.counter}}' {%if forloop.counter == q.correct_answer|add:"0" %} checked {% endif %}/>
                    <input class="w-75 p-2fw-bolder  mb-2 form-control shadow-none" type="text" name='answer_{{forloop.counter}}' id=q{{forloop.counter}} value='{{answer}}' />
             </div>
            {%endfor%}
        </div>

            <div class="d-flex justify-content-center ">
                <button class="btn btn-danger">Save</button>
            </div>
        </div>
    </form>
